.input {
  border-radius: 16px;
  font-size: 1.2rem;
  color: black;
  background: #f2f2f2;
  border: none;
  padding: 15px 20px;
  width: 307px;
}
.input:placeholder {
  color: #b6b7b7;
  width: 307px;
}
