.form {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
  justify-items: center;
}

.verify {
  display: grid;
  place-content: center;
}

.form-hint a {
  margin-left: 0.5em;
}

.form_otp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-auto-flow: column;
  justify-content: space-around;
  grid-column-gap: 1.2em;
  grid-row-gap: 1em;
}

.input {
  width: 25px;
  height: 25px;
  padding: 30px;
  margin: 10px;
  background-color: var(--input-background-color);
  color: var(--primary-font-color);
  border-radius: 20px;
  border: none;
}

.resend_link {
  color: var(--link-color);
}

.h5 {
  color: rgb(255, 81, 0);
}
