.form {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
  align-content: center;
}

.verify {
  text-align: center;
}
.form-hint a {
  margin-left: 0.5em;
}

.form-otp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-auto-flow: column;
  justify-content: space-around;
  grid-column-gap: 1.2em;
  grid-row-gap: 1em;
}

.form-otp input {
  width: 2.8em;
  height: 2.8em;
  padding: 1em;
  margin: 0.5em;
}

.resend-link {
  color: var(--link-color);
}
