<div class="card-container">
  <!--<card-thai.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1436327266874-c2e4e1ac7a97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
      alt="thai-soup"
    />
    <p class="card-text">Thai</p>
  </div>

  <!--<card-italian.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1600114338110-ed3347daa25a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1lYWx8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="caprese-salad"
    />
    <p class="card-text">Italian</p>
  </div>

  <!--<card-cake.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1517306085770-871ff74b2274?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3dlZXR8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
      alt="berries-cream-tart"
    />
    <p class="card-text">Cakes</p>
  </div>

  <!--<card-sushi.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1558540718-b2303795e6e8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c3VzaGl8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="salmon-maki"
    />
    <p class="card-text">Sushi</p>
  </div>

  <!--<card-burger.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1586190848861-99aa4a171e90?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
      alt="cheeseburger"
    />
    <p class="card-text">Burgers</p>
  </div>

  <!--<card-poke.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGJvd2x8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="chicken-poke"
    />
    <p class="card-text">Poke Bowls</p>
  </div>

  <!--<card-soup.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1610452229974-74c9283a3873?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzJ8fGJyZWFkfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="pumpkin-soup"
    />
    <p class="card-text">Soups</p>
  </div>

  <!--<card-breakfast.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1600326145552-327f74b9c189?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGJyZWFkfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="berries-pancakes"
    />
    <p class="card-text">Breakfast</p>
  </div>

  <!--<card-offers.html>-->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1581798459219-318e76aecc7b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FuZHl8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
      alt="candies"
    />
    <p class="card-text">Offers!</p>
  </div>
</div>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, ratione
perferendis! Magni aliquam odit dolores cumque quae, sint officia inventore
distinctio nostrum consequuntur, dignissimos id illo beatae omnis sed esse velit
quos illum. Veniam ea sit dolorum illo! Cupiditate, dolorum quis soluta nihil
laborum eius iure ut magnam, voluptatum quam fugit error autem repellat enim
veniam suscipit minus commodi cum pariatur ipsa itaque officia sed esse? Dolorem
praesentium assumenda ipsam velit, dolores enim maxime tempora facere quae,
quaerat sunt exercitationem nulla, tenetur beatae. Illum odit vitae tenetur
asperiores, quae, pariatur nihil optio labore rerum natus esse harum, cupiditate
unde a?
